
    .login-container {
        display: flex;
        justify-content: center;
        .form {
            margin-top: 10%;
            height: auto;
            min-height: 400px;
            display: flex;
            justify-content: center;
            border: 1px solid #e7e7e7;
            box-shadow: 2px 1px 1px 2px #ccc;
            border-radius: 5px;
            flex-direction: column;
            h1 {
                margin-top: 20px;
                align-items: center;
                text-align: center;
            }

            .form-input {
                display: flex;
                padding: 5%;
                flex-direction: column;
                flex: content;
                .input {
                    width: 100%;
                    margin-top: 5%;
                }
            }

            .login-button {
                padding: 5%;
            }

        }
    }